@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    margin: 0px;
    background-color: rgb(125, 230, 230);
    font-family: "Lobster";
    src:url(fonts/Lobster-Regular.ttf);
}
.main {
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 100%;
    font-weight: 700;
    background-color:rgb(143, 245, 245);
    border: 2px inset black;
}
.b {
    background-color: rgb(143, 245, 245);
    border: 7px inset rgb(92, 224, 224);
    width: 200px;
    margin-left: -100px;
    height: 100%;
    position: fixed;
    text-align: center;
    transition: all 0.6s;
}
.b:hover {
    margin-left: 0px;
}
.a {
    font-size: 20px;
    border: 2px inset rgb(0, 0, 0);
    color: black;
    text-decoration: none;
    transition: all .10s ease-out;
}
.a:hover {
    font-size: 25px;
}
.c {
    font-size: 40px;
    border: 2px inset rgb(0, 0, 0);
    color: black;
    text-decoration: none;
}
.img {
    height: 60px;
    width: 60px;
    margin-bottom: -16px;
}
.n {
    font-size: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.q {
    display: flex;
    margin-left: 170px;
    width: 85%;
    background-color: rgb(125, 230, 230);
    height: 60px;
    margin-top: 50px;
}
.img1 {
    height: 198px;
    width: 255px;
}
.w {
    display: flex;
    margin-left: 170px;
    width: 84.75%;
    background-color: rgb(125, 230, 230);
    height: 200px;
    border: 2px inset rgb(0, 0, 0);
}
.div1 {
    border: 2px inset rgb(0, 0, 0);
    width: 270px;
    margin-top: -15px;
}
.div2 {
    border: 2px inset rgb(0, 0, 0);
    width: 255px;
}
.img2 {
    margin-left: 30%;
    width: 600px;
    height: 400px;
}
.mus {
    margin-left: 43%;
    margin-top: 50px;
}
.vid {
    margin-left: 31%;
    margin-top: 0px;
}
.p1 {
    margin-left: 200px;
    margin-top: 200px;
    width: 80%;
    text-align: center;
    color: rgb(206, 70, 70);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}